{% extends 'blank.html.twig' %}

{% block title %}Reinitialisation de votre mot de passe {% endblock %}

{% block body %}
    <body class="gray-bg">
    <div class="middle-box text-center loginscreennn   animated fadeInDown">
        <div>

            <img src="{{ asset('http://localhost:8080/img/Brainstorm.png') }}"  width="128" alt="Image">

        </div>
        <h2>Un email contenant un lien de réinitialisation a été envoyé.</h2>
    <h2>

        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </h2>

    <h2>Si vous ne recevez pas d'email, merci de verifier votre spam ou <a href="{{ path('app_forgot_password_request') }}"> reessayer</a>.</h2>
    </div>
    </body>
{% endblock %}
