{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-lg-5">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Produit</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
