{% extends 'front.html.twig' %}

{% block title %}Edit Recevent{% endblock %}

{% block container %}
    <h1>Edit Recevent</h1>

    {{ include('recevent/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('recevent_index') }}">back to list</a>

    {{ include('recevent/_delete_form.html.twig') }}
{% endblock %}
