{% extends 'front.html.twig' %}

{% block title %}Reclamations Events{% endblock %}

{% block container %}
    <h1>Nouvelle Reclamation Events</h1>

    {{ include('recevent/_form.html.twig') }}

    <a href="{{ path('recevent_index') }}">back to list</a>
{% endblock %}
