<form method="post" action="{{ path('recevent_deleteB', {'receid': recevent.receid}) }}" onsubmit="return confirm('Supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recevent.receid) }}">
    <button class="btn">Supprimer</button>
</form>
